		body {
		    background-color: black;
		    padding: 100px;
			}
		*{
			font-family: cursive;
			}
			ol{
				transition: all 1s;
			}
		ol li {
				padding: 1px;
				border-radius: 2px;
				margin-bottom: 3px;
				color: white;
				cursor: pointer;
				font-size: 30px;
				width: 667px;
				height: 40px;
				transition: all 2s;
				margin-right: 41px;
				border: 2px;

				/*border-radius: 50%*/
				}
		li:hover{
				width: 750px;
				background-color: white;
				color: black;
				}
		h1{
			width: 500px;
			animation: boxa 2s infinite, headstart 2s 1;
			}
			#textBox{
				text-align: center;
			}

		.box{
			padding: 10px;
			transition: all 1s;
			animation: begin 2s 1;
			width: 780px;
			}
		.box:hover{
			transform :scale(1.1);
		}
		.logout{
			position: fixed;
			 color: white;
			  top: 10px; 
			  right: 10px; 
			  width: 210px; 
			  text-align:right;
		}
		#logout{
			background-color: transparent;
			 color: white;
			 border-color: black;
			 width: 85px;
			 height: 32px;
			 font-size: 22px;
			 transition:all 1s;
			 padding-bottom: 34px;
		}

		#logout:hover{
			background-color: white;
			text-decoration: underline;
			cursor: pointer;
			color: black;
			border-radius: 10%;
			
		}
		
		@keyframes boxa{
			50%{
				transform : scale(1.2);
			}
			100%{
				transform : scale(1);
			}
		}
		@keyframes headstart{
			0%{color:black;
				transform: scale(0);
			}
			/*50%{color:black;
				transform: scale(0);
			}*/
			30%	{
				transform: scale(2.5);
			}
			100%{color:white;
				transform: scale(1);
			}
		}
		@keyframes begin{
			0%{
				transform:scale(0);
			}
			38%{
				transform: scale(0);
			}
			60%{
				transform: scale(1.3);
			}
			75%{
				transform: scale(0.8);
			}
			100%{
				transform:scale(1);
			}
		}